#projcard{

    padding: 30px;
    
    border-radius:20px;
}


#appcard{
    border-radius:15px;
    border:2px dashed #556ee6;

    padding: 20px;
}

#Attprofile{

    border-radius:10px;
    border:2px dashed #556ee6;
    padding: 8px;
}

#profilebox{
    background-position: center center;
    height: 500px;
   
}

.bi.bi-telephone,.bi.bi-envelope,.bi.bi-geo-alt{

    color: #556ee6;
}